html {
  font-size: calc(8px + 2vmin);
  font-family: sans-serif;
  background: white;
}

body,
body * {
  display: block;
  background: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

.app {
  width: 100%;
}

.cardline {
  margin-bottom: 1em;

  display: flex;
  flex-wrap: wrap;
}

.carda {
  flex: none;
}

.bottoml, .bottomr {
  position: fixed;
  bottom: 0;
  width: 25%;
}

.bottoml {
  left: 0;
}

.bottomr {
  right: 0;
}

body,
noscript {
  height: 100vh;
  display: flex;
}

noscript {
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
